# Ignore Python virtual environment
pyfluent-env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.pdf
*.egg
*.trn
*.egg-info/
*.log
vector_store/*.pkl
dist/
build/
FM_Duc_Phi_Ngo_25088/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
